<footer class="footer-section">
    <div class="footer-social">
        <div class="social-links">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-item">
                            <ul>
                                <li><a href="index.html">Ana Sayfa</a></li>
                                <li><a href="about.html">Hakkımızda</a></li>
                                <li><a href="portfolio.html">Portfolyo</a></li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-item">
                            <h4>İletişim</h4>
                            <ul>
                                <li><b>Adres:</b> Yukarı dudullu esenşehir <br>
                                    mahllesi gürkan sokak no.18/7</li>
                                <li><b>Telefon: </b> +90 545 257 05 15</li>
                                <li><b>Email: </b> eyyupguzel47@gmail.com</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-item">

                            <ul>
                                <iframe
                                        src="https://maps.google.com/maps?q=metrocorner%20dudullu&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                                        width="200" height="140" frameborder="0" style="border: 0;"
                                        allowfullscreen=""></iframe>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <div class="copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Her hakkı  <br>Amigra Studio'ya  aittir.</div>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</footer>
<!-- Footer section end -->




<!--====== Javascripts & Jquery ======-->
