<header class="header-area" th:fragment="header" xmlns:th="http://www.thymeleaf.org/">
    <a href="index.html" class="logo-area">
        <img src="img/logo.png" alt="">
    </a>
    <div class="nav-switch">
        <i class="fa fa-bars"></i>
    </div>
    <div class="phone-number">Tel no gelecek</div>
    <nav class="nav-menu">
        <ul>
            <li><a href="index.html">Ana Sayfa</a></li>
            <li><a href="about.html">Hakkımızda</a></li>
            <!-- <li><a href="service.html">Servis</a></li> -->
            <li><a href="portfolio.html">Portfolyo</a></li>
            <li><a href="contact.html">İletişim</a></li>
        </ul>
    </nav>
</header>